html {
    background: url("images/17.jpg") 0% 0% repeat scroll transparent;
}

html * {
    color: #222;

    border-style: ridge;
    border-color: #eee;
    border-width: .4em;

    margin: auto;
}

:hover {
    border-style: groove;
}

iframe,
img {
    border-width: 1em;

    margin: 0 20%;
    padding: 1em;
}

body {
    background: #fff;
    max-width: 70%;

    font-family: serif;

    margin: 2em auto;
    padding: 1em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    line-height: 1.3;
}

h2 {
    line-height: 1.2;

    margin-left: 1em;
    margin-right: 1em;
}

h3 {
    line-height: 1.1;

    font-style: italic;

    margin-left: 2em;
    margin-right: 2em;
}

h4 {
    line-height: 1.0;

    font-style: italic;

    margin-left: 3em;
    margin-right: 3em;
}

h5 {
    line-height: 1.0;

    font-style: italic;

    margin-left: 4em;
    margin-right: 4em;


    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h6 {
    line-height: 1.0;

    margin-left: 5em;
    margin-right: 5em;
}

p {
    line-height: 1.0;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul {
    line-height: 1.0;

    border-width: 0.5em;

    margin-left: 6em;
    margin-right: 6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

li {
    line-height: 1.0;
    text-align: start;

    max-width: 70%;

    list-style-position: inside;
    padding: 0.5em 0;
}

.jump {
    text-align: center;
}

.end-tag {
    text-align: center;
    font-size: smaller;
    border: none;
    padding: 1em;
}

a {
    color: blue;
    border-color: #eee;
}

a:visited {
    color: purple;
}


a:hover {
    color: green;
}

a:active {
    color: red;
}