* {
    border-style: ridge;
    border-width: 12px;

    margin: 0.5em;
}

html {
    margin: 1em;
}

body {
    font-family: serif;
    padding: 1em;
}

:hover {
    border-style: groove;
    /* border-color: purple; */
}

:active {
    border-style: ridge;
    /* border-color: red; */
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: auto;
    min-height: fit-content;


    margin: 0;
    padding: 0;
}

.flex-center-borderless {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: auto;
    min-height: fit-content;
    border: none;

    margin: 0;
    padding: 0;
}

.flex-center-borderless>img {
    border: none;
}

.flex-center-borderless>li {
    border: none;
}

.flex-bookmarks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.0;
    text-align: center;
    margin: 0.25em;
    padding: 0.25em;
}

h3,
h4,
h5 {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.0;
}

h5 {
    margin-left: 4em;
    margin-right: 4em;

    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h6 {
    margin-left: 5em;
    margin-right: 5em;
}

p {
    line-height: 1.0;

    min-width: fit-content;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul {
    line-height: 1.0;

    list-style: square;
    list-style-position: inside;

    max-width: fit-content;
    min-width: fit-content;

    padding: 0.5em;
}

li {
    line-height: 1.0;
    text-align: start;

    border-style: none;

    max-width: fit-content;
    min-width: fit-content;
}

.jump {
    text-align: center;
}

.end-tag {
    text-align: center;
    font-size: smaller;
    border: none;
    padding: 1em;
}

a {
    color: blue;
    border: none;
}

a:visited {
    color: purple;
    border: none;
}


a:hover {
    color: green;
    border: none;

}

a:active {
    color: red;
    border: none;
}